.app {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app .app__left_section {
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  
}

.app .app__center_section {
  position: absolute;
  left: 260px;
  top: 0px;
  width: calc(100% - 520px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: scroll;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app .app__right_section {
  position: absolute;
  right: 0px;
  top: 0;
  width: 260px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}